In [1]:
print("Santosh Nachan")

Santosh Nachan

In [1]:
a=35/3
type(a)

float

In [2]:
35//3

11

In [3]:
8**25%7

1

In [4]:
2**3

8

In [5]:
print('"santosh\'s pen namehii"')

"santosh's pen namehii"

In [21]:
print("""\
santosh
nachan
hii
""")   #"""""""""" for Multiple line && \ for backspace

santosh
nachan
hii

In [59]:
string="santosh nachan"
mid=len(string)//2
string2=string[mid:]
ans=string2[::-1]
print(ans)

nahcan

In [60]:
len(string)

14

In [71]:
string.capitalize()

'Santosh nachan'

In [73]:
string.upper()

'SANTOSH NACHAN'

In [74]:
string.lower()

'santosh nachan'

In [86]:
a=string.split(' ') #split() to create list of splits
print(a)
print(a[0].capitalize()+' '+a[1].capitalize())

['santosh', 'nachan']
Santosh Nachan

In [95]:
string.count('s') #count used to check no. of occurence

2

In [96]:
string.find('h') #find return position

6

In [103]:
'santo' in string # check occurence

True

In [106]:
'    san    '.strip() #remove blank spaces from front and back lstrip() & rstrip()

'san'

In [109]:
string.startswith('san')

True

In [110]:
string.replace('s','k') #replace to replace characters from string

'kantokh nachan'

In [12]:
a=[5,2,3,4]    
print(a)
a.sort()         # list is mutable
print(a)

[5, 2, 3, 4]
[2, 3, 4, 5]

In [4]:
a[2]=10
print(a)

[2, 3, 10, 5]

In [31]:
b=(1,4,2,6)
print(b)
print(b.index(2))     #tuple is immutable

(1, 4, 2, 6)
2

In [10]:
list(range(1,5))

[1, 2, 3, 4]

In [7]:
n=3
for i in range(0,n):
    for j in range(0,i):
        print("*")
    print("\n")

*


*
*

In [27]:
print(""" 
 *
 **
 ***
""")

 *
 **
 ***

In [54]:
b=False
a=False
if a:
    print("if")
elif b == False:
    print("else if")
else:
    print("else")

else if

In [58]:
print(list(range(2,22,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
def fib(n):
    a,b=0,1
    while a<n:
        print(a)
        a,b=b,a+b

fib(5)

0
1
1
2
3

In [11]:
def f(a,l=[]):
    l.append(a)
    return l
print(f(1))
print(f(2))

[1]
[1, 2]

In [17]:
a=['hi','human','go']
print('/'.join(a))

hi/human/go

In [6]:
def document():
    """
    readme :hi my name 
            is santosh
        
    """
    
print(document.__doc__)   #fun.__doc__ return multi line

    readme :hi my name
            is santosh

In [1]:
x=lambda a : a**2   #single line function or anonomous function
print(x(4))

16

In [6]:
a=[1,2,4,5]
a.sort(reverse = True) #sort in decending order
print(a)

[5, 4, 2, 1]

In [8]:
a.append(5)
print(a)

[5, 4, 2, 1, 5, 5]

In [9]:
a.insert(4,8)
print(a)

[5, 4, 2, 1, 8, 5, 5]

In [10]:
a.remove(5)
print(a)

[4, 2, 1, 8, 5, 5]

In [11]:
a.pop()
print(a)

[4, 2, 1, 8, 5]

In [13]:
a.clear()
print(a)

[]

In [15]:
a=[(x**2) for x in range(5)]  
print(a)

[0, 1, 4, 9, 16]

In [24]:
a.clear()
a=list(map(lambda x:x**2 , range(5)))  #map for iterations
print(a)

[0, 1, 4, 9, 16]

In [31]:
print(a)
del a[0] #del to remove element when index value known
print(a)

[0, 1, 4, 9, 16]
[1, 4, 9, 16]

In [33]:
print(a)
del a[1:3] #del can also be used for remove slice
print(a)

[1, 16]
[1]

In [34]:
t=()
t=1,'santosh',2.5
print(t)

(1, 'santosh', 2.5)

In [45]:
t=()
t=1,2
print(t)
print(len(t))

(1, 2)
2

In [3]:
z={'apple','orange','mango','banana','carrot'} #initilization of set
print(z)
y=set('carrot')            #split the string in unordered collection of alphabets
print(y)

{'carrot', 'mango', 'orange', 'banana', 'apple'}
{'a', 'r', 'o', 'c', 't'}

In [9]:
x={'carrot'}
print(z - x)   #arithmatic and logical operations allows
print(z & x)

{'banana', 'mango', 'orange', 'apple'}
{'carrot'}

In [13]:
dic={1:'santosh',2:'akshay',3:'suraj'}
print(dic)

{1: 'santosh', 2: 'akshay', 3: 'suraj'}

In [14]:
print(dic[2])    #dictionary is mutable

akshay

In [22]:
#del dic[3]
dic2=sorted(dic)
print(dic2)

[1, 2]

In [23]:
d={x:x**2 for x in (2,3,4)} #comprehensions 
print(d)

{2: 4, 3: 9, 4: 16}

In [25]:
g=list(reversed(range(2,5)))
print(g)

[4, 3, 2]

In [12]:
s={1,2,3}
a={2,5,6}
print(a ^ s)

{1, 3, 5, 6}

In [13]:
a=[1,"modern",3,"akshata"]
b=(1,"modern",3,"akshata")
print(len(a))
print(len(b))

4
4

In [18]:
c=b                   #shallow copy if id is same or else deep copy
print(id(b))   
print(id(c))

139972789225016
139972789225016

In [21]:
print(c[:-1])

(1, 'modern', 3)

In [23]:
s1=input("enter string")
s2=input("enter string")
a=list(set(s1)&set(s2))
print("the common letters are:")
for i in a:
    print(i)

enter stringabcd
enter stringaert
the common letters are:
a

In [24]:
s1=input("enter string")
s2=input("enter string")
a=list(set(s1)-set(s2))
print("the letters are in first string:")
for i in a:
    print(i)

enter stringabcd
enter stringxyab
the letters are in first string:
c
d

In [26]:
s1=input("enter string")
s2=input("enter string")
a=list(set(s1)^set(s2))
print("the letters are in first string:")
for i in a:
    print(i)

enter stringabcd
enter stringxycd
the letters are in first string:
x
a
b
y

In [31]:
#import modules
import itertools,random
deck=list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))
random.shuffle(deck) #Shuffle
print(deck)

[(11, 'Spade'), (9, 'Spade'), (13, 'Spade'), (11, 'Heart'), (7, 'Club'), (4, 'Club'), (5, 'Diamond'), (8, 'Heart'), (5, 'Spade'), (8, 'Diamond'), (9, 'Club'), (9, 'Diamond'), (1, 'Diamond'), (8, 'Spade'), (4, 'Diamond'), (12, 'Diamond'), (12, 'Heart'), (3, 'Diamond'), (10, 'Diamond'), (11, 'Diamond'), (4, 'Spade'), (10, 'Heart'), (7, 'Spade'), (9, 'Heart'), (12, 'Spade'), (11, 'Club'), (3, 'Heart'), (2, 'Spade'), (12, 'Club'), (13, 'Heart'), (1, 'Club'), (2, 'Diamond'), (6, 'Heart'), (3, 'Club'), (6, 'Spade'), (2, 'Heart'), (7, 'Diamond'), (13, 'Club'), (4, 'Heart'), (6, 'Diamond'), (6, 'Club'), (1, 'Spade'), (13, 'Diamond'), (5, 'Club'), (8, 'Club'), (3, 'Spade'), (10, 'Spade'), (7, 'Heart'), (2, 'Club'), (1, 'Heart'), (10, 'Club'), (5, 'Heart')]

calculator with memory

In [2]:
x=100
print('zero'if x==0 else 'not zero')

not zero

In [5]:
mydic=dict()
mydic['name']='santosh'
mydic['lastname']='nachan'
for i in mydic:
    print("{0} {1}".format(i,mydic[i]))

name santosh
lastname nachan

In [13]:
str1='santoshnachan'
print(min(str1))  #return min alphabet AsCII
print(max(str1))  #return max alphabet AsCii

a
t

In [15]:
str2='sanToSH'
print(str2.swapcase())

SANtOsh